img{
    margin-top: 10px;
    object-fit:cover;
}
.payment button{
    background-color: black;
    color: aliceblue;
    width: 8rem;
    height: 3rem;
    border-radius: 9px;
    font-size: 18px;
    margin-left: 15px;
   margin-top: 10px;
}
.payment{
    margin-bottom: 3px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
input{
   display: flex;
   align-content:space-around;
}